<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    </head>

    <body>

        <div>
            <img th:src="@{/images/logo.png}" th:alt-title="#{title.logo}" />
        </div>

        <div class="userInfo" th:unless="${#lists.isEmpty(users)}">

            <h2 th:text="#{title.user.info}">title.user.info</h2>

            <table>
                <thead>
                <tr>
                    <th th:text="#{user.surname}">surname</th>
                    <th th:text="#{user.name}">name</th>
                    <th th:text="#{user.age}">age</th>
                    <th th:text="#{user.city}">city</th>
                    <th th:text="#{user.extra}">extra</th>
                    <th th:text="#{user.friends}">friends</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.surname}">surname</td>
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.age}">age</td>
                    <td th:text="${user.city}">city</td>
                    <td th:text="${user.extra}">extra</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th th:text="#{friend.surname}">surname</th>
                                <th th:text="#{friend.name}">name</th>
                            </tr>
                            <tr th:each="friend : ${friends}">
                                <td th:text="${friend.surname}">surname</td>
                                <td th:text="${friend.name}">name</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div>
            <span th:text="${elapsed}">[time]</span>
        </div>

    </body>

</html>
